{% extends 'parroquialista/base.html'%}

{% block title%}
    Resultado de Busqeda
{% endblock %}

{% block container%}
        <div id="mapa" class="capas"></div>
        <div id="datos" class="capas">
            <div id="data">
                Resultados de laq Busqueda:
                <ul>
                    {% for Parroquia in lista_parroquia %}
                        <li><a href="{% url 'parroquialista:detail' Parroquia.id %}">{{ Parroquia.nombre }}</a> <span> -Sector:{{ Parroquia.direccion }}</span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
{% endblock %}

{% block jsconnect%} 

<script type="text/javascript">

    //var obj = '{{my_obj | safe}}';

     var  myDjangoList = (("{{my_obj}}").replace(/&(l|g|quo)t;/g, function(a,b){
                return {
                    l   : '<',
                    g   : '>',
                    quo : '"'
                }[b];
            }));

    myDjangoList = myDjangoList.replace(/u'/g, '\'');
    myDjangoList = myDjangoList.replace(/'/g, '\"');
   
    var obj = JSON.parse( myDjangoList );

    function loadMarkers(map){
        
            var pinColor = "FE7569";
            var pinImage = {
                url:  "http://chart.apis.google.com/chart?chst=d_map_pin_icon&chld=location|" + pinColor,
                size: new google.maps.Size(21, 34),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(10, 34),
                labelOrigin: new google.maps.Point(10,-5),
            };
        
            for (var i=0;i<obj.length;i++){
                var point = new google.maps.LatLng(obj[i].latitud,obj[i].longitud);
                console.log(point);
                var nombre = obj[i].nombre
                var marker = new google.maps.Marker({
                    position: point,
                    map: map,
                    draggable:false,
                    icon:pinImage,
                    label:{
                        text:nombre,
                        color: 'Black',
                        fontWeight: 'bold',
                    },
                    optimized: false
                    });
                markerList.push(marker);
            }
            
            var newBoundary = new google.maps.LatLngBounds();
            for(index in markerList){
              var position = markerList[index].position;
              newBoundary.extend(position);
            }
            
            map.fitBounds(newBoundary);
            
    }
    </script>

{% endblock %}
